.screen{
  display: grid;
  grid-template-rows: 10fr 80fr 10fr;
  grid-template-columns: 40fr 20fr 40fr;
  width: 100vw;
  height: 98vh;
}

.calculadora{
  grid-column: 2;
  grid-row: 2;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.button{
  width:70px;
  height:70px;
  border-style: solid;
  margin: 5px;
}

.borderBlack{
  border-width:2px;
  border-color:black;
  text-align:center;
}

.display {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 10%;
  font-size: x-large;
  font-weight: bolder;
}
